body {
    font-family: monospace;
    background: #010101;
    color: white;
    max-width: 900px;
    margin: 0 auto;
    font-size: 18px;
    padding: 50px;
}

a {
    color: #fded4d;
}

h1 a {
    display: block;
    background-image: url("../images/kerozene_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 800px;
    height: 530px;
    margin: 0 auto;
}

h1 a span {
    display: none;
}

p {
    line-height: 1.6;
}

/* Mobile */
@media (max-width: 768px) {
    body {
        font-size: 18px;
        padding: 20px;
    }

    h1 a {
        background-image: url("../images/kerozene_logo_mobile.png");
        width: 100%;
        max-width: 512px;
        height: 339px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}